body{
    background: linear-gradient(240deg, #000000 ,#ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.navbar-brand:hover {
    text-shadow: #FC0 1px 0 10px;
    padding-left: -50px;
    text-transform: capitalize;
   
}
.nav-item {
    font-size: large;
    align-items: flex-end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 500;
    display: inline;
    margin-left: 50px;

}
.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: 500;
}
img {
    max-width: 100%;
    height: auto;
    
    border-color: whitesmoke;
    border-style: solid;
    border-width: thick;
    display: flex;
    
}
img:hover {
    border-color: black;

}

.p:hover{
    text-shadow: 3px 3px 3px #000000;
    text-transform: capitalize;
    background-color: grey;
    
}
.p{
    text-align: center;
    color: white;
}
.nav-item:hover{
    text-shadow: #FC0 1px 0 10px;
    text-transform: capitalize;
}